<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Clinica Cloud Platform</title>
    @*<link href="assets/css/spinner.scss" rel="stylesheet">*@
    <environment names="Development">

    </environment>
    <environment names="Staging,Production">

    </environment>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden pace-done">
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
